#cookies-eu-banner {
  color: #222;
  padding: 6px;
  font-size: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#cookies-eu-content {
  background: rgba(201, 232, 251, 0.8);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

#cookies-eu-content a {
  color: #222;
  text-decoration: underline;
}

#cookies-eu-accept {
  border-radius: 8px;
  text-decoration: none;
  background: rgba(201, 232, 251, 0.8);
  color: #222;
  border: 1px solid #0e3a5a;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 2rem;
  font-weight: bold;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
}

#cookies-eu-more,
#cookies-eu-reject {
  border-radius: 8px;
  text-decoration: none;
  background: rgba(201, 232, 251, 0.8);
  color: #222;
  border: 1px solid #0e3a5a;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 0.7rem;
  font-weight: bold;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
  position: absolute;
  bottom: 0;
  right: 0;
}

#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-accept:focus {
  background: rgba(201, 232, 251, 1);
  color: #222;
}

#cookies-eu-more {
  margin-left: 7px;
}

#cookies-eu-reject {
  border-radius: 8px;
  background: none;
  font-weight: normal;
  color: #222;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  border: 1px solid #666;
}

#cookies-eu-reject:hover,
#cookies-eu-reject:focus {
  border-color: #fff;
  background: rgba(201, 232, 251, 0.8);
  color: #222;
}

@media screen and (max-width: 1023px) {
  #cookies-eu-content {
    font-size: 6vw;
  }
}
