html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

@media screen and (max-width: 1024px) {
  body {
    padding-top: var(--navbar-mobile-height);
  }
}

.navbar {
  background: var(--navbar-background);
  color: var(--navbar-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: var(--z-index-navbar);
  box-shadow: 0 0.5rem 3rem var(--color-smoke-70);
  border-bottom: 1px solid var(--color-smoke-90);
}

.navbar a {
  text-decoration: none;
}

.navbar-brand .separator {
  padding: 0 0.375rem;
}

@media screen and (min-width: 1024px) {
  .navbar-end > .navbar-item,
  .navbar-end .navbar-link {
    color: var(--navbar-font-color);
  }

  .navbar-end > a.navbar-item:hover,
  .navbar-end .navbar-link:hover {
    background: var(--navbar-hover-background);
    color: var(--navbar-hover-font-color);
  }

  .navbar-end .navbar-link::after {
    border-color: var(--navbar-font-color);
  }

  .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--navbar-hover-background);
    color: var(--navbar-hover-font-color);
  }
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  height: var(--navbar-height);
}

.navbar-burger {
  color: var(--navbar-font-color);
  background: none;
  border: none;
  outline: none;
  line-height: 1;
  height: var(--navbar-height);
  position: relative;
  /* width: var(--navbar-height); */
  width: 2.75rem;
  margin-left: auto;
  padding: 0;
  order: 8;
}

.navbar-burger:focus {
  outline: none;
}

.navbar-burger span {
  background: var(--navbar-font-color);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
  order: 2;
}

.navbar-item,
.navbar-link {
  color: var(--navbar-menu-font-color);
  display: block;
  line-height: var(--doc-line-height);
  padding: 0.5rem 0.5rem;
  position: relative;
}

.navbar-item {
  flex: none;
  margin-bottom: 1px;
  padding-right: 1.5rem;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-link {
  padding-right: 2.5em;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: normal;
}

.navbar-divider {
  background-color: var(--navbar-menu-border-color);
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
  }

  .navbar-menu {
    background: var(--navbar-menu-background);
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    position: fixed;
    height: 100%;
    box-shadow: 0 16px 16px 0 rgba(10, 10, 10, 0.1);
    overflow-y: auto;
    top: 8rem;
    right: 0;
  }

  .navbar-menu a.navbar-item:hover,
  .navbar-menu .navbar-link:hover {
    background-color: var(--navbar-menu-hover-background);
  }

  .navbar-item {
    width: 100%;
  }

  .mobile-heading {
    color: var(--color-asf-dark-blue);
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-menu,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: flex-end;
    display: flex;
    font-weight: bold;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.has-dropdown:last-of-type .navbar-dropdown {
    left: auto;
    right: 0;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-link::after {
    border-width: 0 0 2px 2px;
    border-style: solid;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: 0.6em;
    right: 1.7em;
    top: 50%;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    background-color: var(--navbar-menu-background);
    border: 1px solid var(--navbar-menu-border-color);
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: none;
    top: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown .navbar-item:last-child {
    border-radius: inherit;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  .navbar-dropdown a.navbar-item:hover {
    background-color: var(--navbar-menu-hover-background);
    text-decoration: underline;
    text-decoration-color: var(--navbar-menu-hover-decoration-color);
  }
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background: var(--navbar-button-background);
  border: 1px solid var(--navbar-button-border-color);
  border-radius: 0.15rem;
  height: 1.75rem;
  color: var(--navbar-button-font-color);
  padding: 0 0.75em;
  white-space: nowrap;
}

.navbar-tools {
  display: flex;
  align-items: flex-end;
  /*  flex-grow: 1; */
  justify-content: flex-end;
  line-height: 1.6;
  padding: 0.5rem;
  font-weight: bold;
  order: 5;
}

.navbar-tools .brand-icon {
  height: 2em;
  width: 2em;
  margin: 0.35rem;
  fill: var(--navbar-font-color);
}

@media screen and (max-width: 1023px) {
  .navbar-tools {
    align-items: end;
    padding: 0.5rem 0;
  }

  .navbar-tools .brand-icon {
    margin: 1rem 0.8rem;
  }
}

.navbar-fill {
  flex-grow: 1;
  order: 3;
}

.break-row {
  display: none;
  flex-basis: 100%;
  height: 0;
}

.navbar-search {
  padding: 0.5rem;
  text-align: right;
  order: 4;
}

.navbar-search input {
  border: 1px solid var(--nav-panel-divider-color);
  border-radius: 4px 4px;
  width: 14rem;
  margin-top: 0.5rem;
  padding: 0.4rem 1.5rem 0.4rem 1.9rem;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  caret-color: #ed8225;
  background: no-repeat 0.4rem/1rem url(../img/search.svg);
  background-color: var(--color-smoke-50);
  outline: 0;
}

.navbar-search input:focus-within {
  background-color: var(--navbar-background);
  border-color: #eaeaec;
  outline: 0;

  @media screen and (prefers-reduced-motion: reduce) {
    box-shadow: none;
    transform: none;
  }
}

#search-cancel {
  position: relative;
  bottom: calc(50% + 0.1rem);
  left: calc(100% - 1.25rem);
  height: 1rem;
  display: none;
  cursor: pointer;
}

#search_results {
  top: 3.38rem;
  background: var(--navbar-background);
  text-align: left;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  margin-right: 10px;
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-width: thin;  /* Firefox */
}

#search_results::-webkit-scrollbar {
  width: var(--scrollbar-thickness);
}

#search_results::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-radius);
}

#search_results::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-radius);
}

#search_results::-webkit-scrollbar-thumb:hover,
#search_results::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active-color);
}

.result_header {
  font-weight: 600;
  color: var(--color-asf-dark-blue);
  padding-right: 0.5rem;
}

#search_results div.result {
  padding: 0.25rem;
  pointer-events: none;
}

#search_results div.result:hover {
  background: var(--color-smoke-50);
}

#search_results div.heading {
  display: flex;
  flex-wrap: wrap;
}

#search_results dt {
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: var(--color-camel-orange);
  text-transform: uppercase;
  font-weight: 700;
  flex-grow: 1;
}

#search_results dt.version {
  height: 1.75rem;
  padding: 0.3rem;
  border: 2px solid var(--color-camel-orange);
  border-radius: 25px;
  text-align: center;
  flex-grow: 0;
}

#search_results dd {
  margin-right: 2rem;
  word-break: break-word;
}

#search_results a {
  pointer-events: auto;
  padding: 0.5rem;
}

#search_results a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-10);
}

.result_summary {
  color: var(--color-jet-50);
  padding-top: 0.3rem;
}

#search_results div.footer-search {
  display: inline-flex;
  width: 100%;
  padding: 0.75rem;
}

div.footer-search h4 {
  color: var(--color-asf-dark-blue);
  width: 5rem;
}

.no_search_results {
  padding: 1rem;
  font-weight: bold;
  color: var(--color-asf-dark-blue);
  border-bottom: 2px solid var(--color-smoke-50);
}

.algolia-docsearch-suggestion--highlight {
  font-weight: bold;
  color: var(--color-jet-50);
}

.results-hidden #search_results {
  display: none;
}

/* Styling for mobile use */
@media (max-width: 1023px) {
  .navbar {
    height: var(--navbar-mobile-height);
  }

  .navbar-end {
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-brand {
    flex-wrap: wrap;
  }

  .break-row {
    display: block;
    order: 6;
  }

  .navbar-tools {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.3 0.5rem;
    order: 5;
  }

  .navbar-tools .brand-icon {
    height: 2rem;
    width: 1.75rem;
    margin: 0.75rem 0.35rem -0.5rem;
  }

  .navbar-search {
    order: 7;
  }

  .navbar-search input {
    width: calc(100vw - 4rem);
  }

  .navbar-burger {
    display: block;
  }

  #search-cancel {
    margin-top: 0.75rem;
  }

  #search_results {
    left: 0;
    width: 100vw;
    top: var(--navbar-mobile-height);
  }
}
