    <div class="edit"><a title="We would love your help &hearts;&hearts;&hearts;" href="https://github.com/project-hop/hop-website/edit/master/content/{{ .File.Path | replaceRE "^/" "" }}">Edit this Page</a></div>
    <footer>
        <div class="footer">
            <dl>
                <dt>Overview</dt>
                <dd><a href="/download/">Download</a></dd>
                <dd><a href="/manual/latest/">Getting started</a></dd>
            </dl>
            <dl>
                <dt>Community</dt>
                <dd><a target="_blank" href="https://jira.project-hop.org">Jira</a></dd>
                <dd><a target="_blank" href="https://forums.project-hop.org">Forum</a></dd>
                <dd><a target="_blank" href="https://chat.project-hop.org">Chat</a></dd>
                <dd><a href="/community/team/">Team</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a target="_blank" href="https://www.apache.org/licenses/" title="License">License</a></dd>
            </dl>
            <p>
                &copy; 2019-{{ now.Format "2006" }} The Hop Team.<br>
                All marks mentioned may be trademarks or registered trademarks of their respective owners.
            </p>
        </div>
    </footer>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/site.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/highlight.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/cookies-eu-banner.js") | relURL }}"></script>
    <script>
        new CookiesEuBanner(function () {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
            ga('create', 'UA-151580460-1', 'auto' ,{'anonymize_ip':true});
            ga('send', 'pageview');
        }, true, false);
    </script> 
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/docsearch.min.js") | relURL }}"></script>
    <script>
    var search = docsearch({
      appId: 'IEDZCR8JT4',
      apiKey: '587e7bafb978fa5e4640ab18bfbd9b99',
      indexName: 'hop-doc',
      inputSelector: '#search-input',
      autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
      algoliaOptions: { hitsPerPage: 10 }
    }).autocomplete
    search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
    function focusSearchInput () { document.querySelector('#search-input').focus() }
    if (document.querySelector('.home-link.is-current')) window.addEventListener('load', focusSearchInput)
    </script>
    {{ partial "seo/main" . }}

</body>
</html>
