<div class="footer-tools">
    {{ with .File }}
    <a title="Improve this document, receive free virtual hugs &hearts;" href="https://github.com/apache/incubator-hop-website/edit/master/content/{{ .Path | replaceRE "^/" "" }}">Edit this Page</a>
    {{ end }}
    <a href="#top" title="Reach the top of the page">Back to top</a>
</div>
    <footer>
        <div class="footer">
            <dl>
                <dt>Overview</dt>
                <dd><a href="/download/">Download</a></dd>
                <dd><a href="/manual/latest/">Getting started</a></dd>
            </dl>
            <dl>
                <dt>Community</dt>
                <dd><a target="_blank" href="https://issues.apache.org/jira/projects/HOP/issues">Jira</a></dd>
                <dd><a target="_blank" href="https://chat.project-hop.org">Chat</a></dd>
                <dd><a href="/community/team/">Team</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a target="_blank" href="https://www.apache.org/licenses/" title="License">License</a></dd>
            </dl>
            <p>
                &copy; 2019-{{ now.Format "2006" }}  <a href="http://www.apache.org/" target="blank">The Apache Software Fountation</a>,  Licensed under the Apache <a href="https://apache.org/licenses/LICENSE-2.0" target="blank">License</a>.<br>
            Disclaimer: Apache Hop is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the Apache Incubator. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.
                Apache Hop, Apache, Hop, the Hop logo, and the Apache feather logo are either registered trademarks or trademarks of The Apache Software Foundation. All other products or name brands are trademarks of their respective holders, including The Apache Software Foundation.</p>
        </div>
    </footer>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/site.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/highlight.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/cookies-eu-banner.js") | relURL }}"></script>
    <script>
        new CookiesEuBanner(function () {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
            ga('create', 'UA-151580460-1', 'auto' ,{'anonymize_ip':true});
            ga('send', 'pageview');
        }, true, false);
    </script> 
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/docsearch.min.js") | relURL }}"></script>
    <script>
    var search = docsearch({
      appId: 'IEDZCR8JT4',
      apiKey: '587e7bafb978fa5e4640ab18bfbd9b99',
      indexName: 'hop-doc',
      inputSelector: '#search-input',
      autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
      algoliaOptions: { hitsPerPage: 10 }
    }).autocomplete
    search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
    function focusSearchInput () { document.querySelector('#search-input').focus() }
    if (document.querySelector('.home-link.is-current')) window.addEventListener('load', focusSearchInput)
    </script>
    {{ partial "seo/main" . }}

</body>
</html>
