<div class="footer-tools">
    {{ with .File }}
    <a title="Improve this document, receive free virtual hugs &hearts;" href="https://github.com/apache/hop-website/edit/master/content/{{ .Path | replaceRE "^/" "" }}">Edit this Page</a>
    {{ end }}
    <a href="#top" title="Reach the top of the page">Back to top</a>
</div>
    <footer>
        <div class="footer">
            <dl>
                <dt>Overview</dt>
                <dd><a href="/download/">Download</a></dd>
                <dd><a href="/manual/latest/">Getting started</a></dd>
            </dl>
            <dl>
                <dt>Community</dt>
                <dd><a target="_blank" href="https://github.com/apache/hop/issues">GitHub Issues</a></dd>
                <dd><a target="_blank" href="https://chat.project-hop.org">Chat</a></dd>
                <dd><a href="/community/team/">Team</a></dd>
            </dl>
            <dl>
                <dt>About</dt>
                <dd><a target="_blank" href="https://www.apache.org/licenses/" title="License">License</a></dd>
            </dl>
            <p>
                &copy; 2019-{{ now.Format "2006" }}  <a href="http://www.apache.org/" target="blank">The Apache Software Fountation</a>,  Licensed under the Apache <a href="https://apache.org/licenses/LICENSE-2.0" target="blank">License</a>.<br>
                Apache Hop, Apache, Hop, the Hop logo, and the Apache feather logo are either registered trademarks or trademarks of The Apache Software Foundation. All other products or name brands are trademarks of their respective holders, including The Apache Software Foundation.</p>
        </div>
    </footer>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/site.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/highlight.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/cookies-eu-banner.js") | relURL }}"></script>
    <script src="{{ path.Join "_" (index .Site.Data "rev-manifest" "js/vendor/docsearch.min.js") | relURL }}"></script>
    <script>
    var search = docsearch({
      appId: 'IEDZCR8JT4',
      apiKey: '587e7bafb978fa5e4640ab18bfbd9b99',
      indexName: 'hop-doc',
      inputSelector: '#search-input',
      autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
      algoliaOptions: { hitsPerPage: 10 }
    }).autocomplete
    search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
    function focusSearchInput () { document.querySelector('#search-input').focus() }
    if (document.querySelector('.home-link.is-current')) window.addEventListener('load', focusSearchInput)
    </script>
    <!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* We explicitly disable cookie tracking to avoid privacy issues */
    _paq.push(['disableCookies']);  
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.apache.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '11']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
    {{ partial "seo/main" . }}

</body>
</html>
