<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article">
    <div id="cookies-eu-banner" style="display: none;">
      <div id="cookies-eu-content">        
        By continuing to visit this site, you accept the use of <a href ="/cookie-info/">cookies.</a>
        <button id="cookies-eu-accept">Accept</button>
      </div>
      <button id="cookies-eu-reject">Reject</button>
    </div>
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
